.cart-container {
  width: 100vw;
  height: auto;
  background-color: #eee;
}

.cart-container img {
  height: 40px;
}

.cart-header {
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4rem;
  gap: 1em;
}

.cart-resume-container {
  min-width: 300px;
  max-width: 90%;
  width: auto;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.cart-resume-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 3rem;
  border-bottom: 1px solid #ccc;
  background-color: #e6e6e6;
}

.cart-resume-header h4 {
  margin: 0 auto;
}

#product {
  width: 40%;
}

.cart-rows-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.product-description {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  gap: 1.3rem;
}
.product-buy-details {
  display: contents;
}

#img-delete-row {
  width: auto;
  margin: 0 auto;
}

#img-delete-row button {
  border: none;
  background-color: transparent;
  width: auto;
  padding: 0;
}

.buttons-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons-quantity button {
  border: none;
  background-color: #f1f1f1;
  height: auto;
  width: auto;
  box-sizing: border-box;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.buttons-quantity button:hover {
  background-color: #e7e7e7;
}

.product-row {
  display: grid;
  height: 6rem;
  align-items: center;
  grid-template-columns: auto 80px 100px 130px;
  border-bottom: 1px solid #eee;
}

.cart-total-container {
  padding: 1.5em;
  width: 30%;
  box-sizing: border-box;
  height: auto;
}

.total-resume-header {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: relative;
  display: block;
  margin-bottom: 1em;
}

.total-resume-header h2 {
  font-size: 2.3em;
  margin-left: 0.3em;
  margin-bottom: 0.6em;
}

.total-resume-items-count {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.total-resume-items-count p {
  font-size: 1.3rem;
}

.total-resume-shipping {
  font-size: 1.4rem;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

#select-shipping {
  height: 40px;
  width: 60%;
  background-color: #e6e6e6;
  font-size: 1rem;
}

.total-resume-shipping option {
  font-size: 1rem;
}

.total-resume-code-container {
  font-size: 1.4rem;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.total-resume-code-container input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #e6e6e6;
  padding-left: 1em;
  box-sizing: border-box;
}

.total-resume-toal-price {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.total-resume-checkout {
  padding-top: 1.8em;
}

.total-resume-checkout button {
  height: 45px;
  border: none;
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  border-radius: 0;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .cart-resume-container {
    flex-direction: column;
    width: 100vw;
  }
  .cart-rows-container {
    width: 90vw;
  }
  .product-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
  }

  .product-buy-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cart-total-container {
    width: 100%;
  }
}
