* {
  margin: 0;
  padding: 0;
}

nav {
  height: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  height: 4em;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.about-info {
  display: flex;
  gap: 24px;
  place-items: center;
  width: 30%;
  height: 100%;
  margin-left: 8px;
}

.about-info p.nav-title {
  color: #f5f5f5;
}

.box-logo {
  background-color: transparent;
}

.box-logo:hover {
  border: none;
}

.about-info img {
  height: 40px;
  padding: 0;
}

.interactions {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-right: 7px;
}

.interactions ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.nav-buttons {
  background-color: transparent;
  color: #f5f5f5;
  transition: background-color .4s ease, color .6s ease;

}

.nav-buttons:hover {
  background-color: #f5f5f5;
  color: rgb(16, 16, 16);
}

.interactions ul li a.link {
  color: whitesmoke;
}

.interactions img.user-image {
  border-radius: 100%;
  width: 38px;
  height: 38px;
}

.button-menu {
  display: none;
}

.button-menu.desenable-button {
  display: none;
}


.user-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: auto;
  gap: 0rem !important;
  right: 0px;
  top: 3.3rem;
  z-index: 90;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px #a2a2a2;
}

.user-options li {
  width: 150px;
  border: 1px solid black
}

.user-options li button {
  width: 100%;
  display: grid;
  grid-template-columns: 40px auto;
  background-color: transparent;
  border-radius: 0px;
}

#profile-button {
  border-bottom: none;
}


.user-options img {
  height: 30px;
}


@media only screen and (max-width: 575px) {
  nav {
    padding: 0;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
  }

  .about-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;
  }

  .about-info p.nav-title {
    font-size: 12px;
  }

  .box-logo {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-info img {
    height: auto;
    margin-right: 10px;
    padding: 0;
  }

  .interactions {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
  }

  .interactions button {
    width: 100vw;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 1em;
  }

  .interactions a {
    margin-bottom: 15px;
  }

  .interactions.IsNoActive {
    display: none;
  }

  .interactions ul {
    flex-direction: column;
    gap: 0;
  }

  .button-menu {
    display: flex;
    background-color: black;
    margin-right: .5rem;
  }

  button.user-profile-button,
  button.sign-out-button {
    color: black;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .about-info {
    width: 50%;
    text-align: left;
  }

  .interactions ul {
    gap: 24px;
  }

  .interactions IsNoActive {
    display: none;
  }
}