.userProfileContainer {
    display: flex;
    gap: 5em;
    background-color: white;
    width: 40%;
    border-radius: 30px
}

.row {
    display: flex;
    gap: 1em;
    border-bottom: 1px solid;

    color: #000;
}


.imagen {
    border-radius: 95px;
    background-color: black;
    height: 171px;
    width: 176px;
    margin-top: 100px;
}

.