* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 2rem 3rem;
    box-sizing: border-box;
    height: 4em;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.about-info {
    display: flex;
    gap: 24px;
    place-items: center;
    width: 30%;
    height: 100%;
    margin-left: 8px;
}

.about-info img {
    height: 38px;
}

.interactions {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 7px;
}

.interactions ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.interactions ul li a.link {
    color: whitesmoke;
}

.interactions img.user-image {
    border-radius: 100%;
    width: 38px;
    height: 38px;
}

.button-menu {
    display: none;
}

.button-menu.desenable-button {
    display: none;
}

@media only screen and (max-width: 575px) {
    nav {
        padding: 0;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 10px;
    }

    .about-info {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 10px;
    }

    .about-info img.logo {
        padding: 0;
        margin-left: 10px;
    }

    .about-info img {
        height: auto;

    }

    .interactions {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .interactions.IsNoActive {
        display: none;
    }

    .interactions ul {
        flex-direction: column;
        gap: 12px;
    }

    .button-menu {
        display: flex;
        background-color: black;
        margin-right: .5rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .about-info {
        width: 50%;
        text-align: left;
    }

    .interactions ul {
        gap: 24px;
    }

    .interactions IsNoActive {
        display: none;
    }
}