@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #333333;
}

.card {
  min-height: 28rem;
  width: 100%;
  min-width: 14rem;
  max-width: 300px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 1.3rem;
  gap: 0.3rem;
  justify-content: space-between;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #a2a2a2;
}

.product>img {
  margin: 1em 0em;
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.text-container h3 {
  color: green;
  font-size: 2em;
  font-weight: 500;
  font-style: bold;
}

.text-container h2 {
  font-weight: 400;
}

.text-container p {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.buttons {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.buttons button {
  height: 40px;
}

.buy-now-button {
  background-color: transparent;
  border: 1px solid #333333;
  height: 2em;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  color: #433f3f;
}

.add-to-cart-button {
  background-color: #fbbf23;
}

.card>p {
  font-size: 10px;
  text-align: start;
  text-decoration: underline;
  margin-bottom: 0;
}